body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

li{
  list-style-type: none;
}

a{ 
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.customModal {
  padding: 10rem;
}

.customModal h1{
  padding-right: 3rem;
  color: #444444;
  font-weight: 400;
}

.customEditCommentModal{
}
.customEditCommentModal h1{
  padding-right: 15rem;
  color: #444444;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 7px;
}

.customEditCommentModal .or {
  width:100%; 
  text-align:center; 
  border-bottom: 1px solid #444444; 
  line-height:0.1em; 
  margin:15px 0 10px;
  z-index: 0;
}

.customEditCommentModal .or span {
  background:#d3d3d3; 
  padding:0 10px;
  z-index: 5;
  color: #444444;
}

/* Modal que exibe mais detalhadas de um professor (estando em aluno)*/
.customDetailProfessorModal {
  text-align: center !important;
  max-width: 400px !important;

}

.react-datepicker__input-container {
  width: inherit;
}

.react-datepicker-wrapper {
  width: 100%;
}


@media only screen and (max-width: 500px){
  .customEditCommentModal h1{
    padding-right: 7rem;
    color: #444444;
    font-weight: 400;
  }
}

