body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

li{
  list-style-type: none;
}

a{ 
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.customModal {
  padding: 10rem;
}

.customModal h1{
  padding-right: 3rem;
  color: #444444;
  font-weight: 400;
}

.customEditComentModal{
}
.customEditComentModal h1{
  padding-right: 15rem;
  color: #444444;
  font-weight: 400;
}

/* Modal que exibe mais detalhadas de um professor (estando em aluno)*/
.customDetailProfessorModal {
  background: #444444;
  text-align: center !important;
  max-width: 400px !important;

}


@media only screen and (max-width: 500px){
  .customEditComentModal h1{
    padding-right: 7rem;
    color: #444444;
    font-weight: 400;
  }
}

